*.rbc
*.sassc
.sass-cache
# or operating system, you probably want to add a global ignore instead:
# git config --global core.excludesfile ~/.gitignore_global

# Ignore bundler config
/.bundle
/vendor/bundle

# Ignore the build directory
/build

# Ignore Sass' cache
/.sass-cache
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb

/config.rb
